# Ignore Builds Directory
build/**
dsa_priv.pem
.DS_Store
Frameworks/.DS_Store
Hachidori.xcodeproj/project.xcworkspace/xcuserdata/*.*
.idea/*.*
.idea/inspectionProfiles/*.*
.idea/runConfigurations/*.*
.idea/runConfigurations/Hachidori_test.xml
.idea/scopes/*.*
Hachidori.xcodeproj/xcuserdata/kirimasharo.xcuserdatad/xcschemes/xcschememanagement.plist
Hachidori.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ClientConstants.m
DonationCheck_KeyOnly.framework/**
Frameworks/TorrentBrowser.framework.dSYM/**
Frameworks/TorrentBrowser.framework/**
Frameworks/Patreon.framework.dSYM/**
Frameworks/Patreon.framework/**
PatreonConstants.h
PatreonConstants.m
PatreonController.h
PatreonController.m