# Ignore Builds Directory
build/**
dsa_priv.pem
.DS_Store
Frameworks/.DS_Store
Hachidori.xcodeproj/project.xcworkspace/xcuserdata/*.*
.idea/*.*
.idea/inspectionProfiles/*.*
.idea/runConfigurations/*.*
.idea/runConfigurations/Hachidori_test.xml
.idea/scopes/*.*
Hachidori.xcodeproj/xcuserdata/kirimasharo.xcuserdatad/xcschemes/xcschememanagement.plist